* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
}
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 380px;
}

div.gallery-item img {
    width: 100%;
    height: auto;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul > li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    color: rgb(17, 100, 155);
}

ol {
    list-style-type: upper-alpha ;
    padding-left: 20px;
    margin: 0;
}

.fig {
    max-width: 580px;
    margin: 0 auto;
    position: relative;
}

.fig img {
    width: 100%;
    height: auto;
}
.fig > figcaption {
    text-align: center;
    font-style: italic;
    color: rgb(80, 80, 80);
    position: absolute;
    bottom: 0;
    left: 0;
   text-align: center;
}